@CHARSET "UTF-8";

.larguraMaxima {
	width: 100% !important;
}

.ui-autocomplete {
	width: 100% !important;
}

input {
	width: 100% !important;
}

.espacamentoLogin {
	height: 2% !important;
}

.ajax-status-template-inicial {
	width: 35px;
	height: 35px;
	position: fixed;
	right: 620px;
	top: 350px;
}

.ajax-status-template-sistema {
	width: 35px;
	height: 35px;
	position: fixed;
	right: 50px;
	top: 100px;
}

.fontePreta {
	color: black !important;	
}

.fonteCorVerde {
	color: #5cb85c !important;
}

.fonteCorLaranja {
	margin-top: 35px;
	color: #f0ad4e;
}

.navBarPadding {
	padding-top: 0.6% !important;
}

.jumbotron h2 {
	font-size: 50px;
}