<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<beans:bean id="usuarioLogado" class="br.com.cvagal.seguranca.UsuarioLogadoService " />

	<http pattern="/paginas/publico/**" security="none" />
	<http pattern="/javax.faces.resource/**" security="none" />

	<http auto-config="false" use-expressions="true">
		<form-login login-page="/paginas/publico/inicial.xhtml" authentication-failure-url="/paginas/publico/inicial.xhtml?invalid=true"
			default-target-url="/paginas/restrito/sistema.xhtml" always-use-default-target="true" />

		<logout logout-url="/j_spring_security_logout" invalidate-session="true" />

		<intercept-url pattern="/paginas/restrito/**" access="isAuthenticated()" />

		<intercept-url pattern="/**" access="denyAll" />
	</http>

	<authentication-manager>

		<authentication-provider user-service-ref="usuarioLogado">
			<password-encoder hash="md5" />
		</authentication-provider>

	</authentication-manager>

</beans:beans>